@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

html {
    overflow-y: scroll;
}

body {
    padding-top: 0;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
    color: #000;
    margin-top: 60px;
}

header {
}

.logo-brandname {
    font-weight: 500;
    float: right;
    margin-top: 13px;
    font-size: 30px;
}

    .logo-brandname div {
        display: inline;
    }

header .logo {
    width: 70px;
}

header .container-fluid {
    padding-left: 0;
}

nav {
    height: 65px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 17px;
    font-weight: 600;
}

#mainNav > ul {
    margin-top: 14px;
}

#featured .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.navbar-default {
    background-color: #3E3F41;
    border-color: #3E3F41;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
}

    .navbar-default .navbar-brand:hover {
        color: #d6d6d6;
    }

.navbar-default .navbar-nav > li > a {
    color: #d6d6d6;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #b9b8b8;
}

.hero {
    height: 425px;
    background-image: url('../../Assets/images/workstation.jpg');
    background-repeat: no-repeat;
    border: solid 2px;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
    background-size: 100%;
    padding-top: 80px;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

.preamble {
    font-size: 1.8em;
    line-height: 1.1;
    color: #d6d6d6;
    height: 100%;
    position: relative;
}

.preamble .preamble-sub1 {
    margin-left: 15px;
}

.preamble .preamble-sub2 {
    margin-left: 45px;
}

.hdg_upper {
    text-transform: uppercase;
}

@media screen and (min-width: 769px) {
    .hero {
        padding-top: 110px;
    }

    .preamble {
        font-size: 3em;
        line-height: 1.61;
        width: 66.66667%;
    }

    .preamble .preamble-sub1 {
        margin-left: 75px;
    }

    .preamble .preamble-sub2 {
        margin-left: 150px;
    }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
    .hero {
        padding-top: 90px;
    }

    .preamble {
        font-size: 2.6em;
        line-height: 1.331;
    }

    .preamble .preamble-sub1 {
        margin-left: 75px;
    }

    .preamble .preamble-sub2 {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 768px) {
    header .navbar-nav {
        background-color: #3E3F41;
        background-color: rgba(62, 63, 65, .8);
    }
}
