@{
    ViewBag.Title = "Home";
}

<div class="carousel slide" data-ride="carousel" id="featured">
    <div class="carousel-inner fullHeight">
        <div class="item active"><img src="~/Assets/images/workstation.jpg" /></div>
    </div>
</div>