@{
    ViewBag.Title = "Home";
}

<div class="hero">
    <div class="wrapper">
        <div class="preamble">
            <div class="hdg hdg_upper">stylish.</div>
            <div class="hdg hdg_upper preamble-sub1">charming.</div>
            <div class="hdg hdg_upper preamble-sub2">confident.</div>
        </div>
    </div>
</div>